<% if @user == current_user%>
	<h1>Your Profile</h1>
<% else %>
	<h1>Welcome to <%= @user.username%>'s Profile</h1>
	<% current_user.followers.each do |user|%>
		<% if user.id == @user.id %>
		<% @a = 5 %>
		<% end %>
	<% end %>
		<% if @a != 5 %>
		<%= button_to "Follow #{@user.username}", follows_user_path(params[:id]) %>
		<% else %>
		<%= "You are following #{@user.username}"%>
		<% end %>
<% end %>

<h3>Following</h3>

<% @followers.each do |follower|%>
<ul>
	<li><a href="<%= user_path(follower) %>"><%= follower.username%></a></li>
</ul>
<% end %>
<br>
<br>
<br>
<h3>Game Subscriptions</h3>
<% @subscriptions.each do |subscription| %>
	<ul>
		<li><a href="<%= category_game_path(subscription.category, subscription) %>"><%= subscription.title %></a></li>
	</ul>
<% end %>