<h1>Welcome <%=@user.username%></h1>

<h3>Followers</h3>

<% @followers.each do |follower|%>
<ul>
	<li><a href="<%= user_path(follower) %>"><%= follower.username%></a></li>
</ul>
<% end %>
<br>
<br>
<br>
<h3>Game Subscriptions</h3>
<% @subscriptions.each do |subscription| %>
	<ul>
		<li><a href="<%= category_game_path(subscription.category, subscription) %>"><%= subscription.title %></a></li>
	</ul>
<% end %>