<% if @user == current_user%>
	<h1>Your Profile</h1>
<% else %>
	<h1>Welcome to <%=@user.username%>'s Profile</h1>
	<%= button_to "Follow #{@user.username}", follows_user_path(params[:id]) %>
<% end %>

<h3>Followers</h3>

<% @followers.each do |follower|%>
<ul>
	<li><a href="<%= user_path(follower) %>"><%= follower.username%></a></li>
</ul>
<% end %>
<br>
<br>
<br>
<h3>Game Subscriptions</h3>
<% @subscriptions.each do |subscription| %>
	<ul>
		<li><a href="<%= category_game_path(subscription.category, subscription) %>"><%= subscription.title %></a></li>
	</ul>
<% end %>