<h1><%= @game.title %></h1>
<p>Number of subscribers <%= @game.followers.length %></p>
<p>Number of votes <%= @game.vote_total %> </p>
<p><%= @game.description %></p>



<h3>Comments</h3>
<%= render 'comments/form' %>
<%= render 'comments' %>
