<div class="row">
<h2><%= @category.name %></h2>
<% @category.games.each do |game| %>
<div class="col m6">
  <div class="row card grey lighten-3">
    <div class="col m3">
      <p class="center"><a href="<%= game_upvote_path(game) %>" rel="nofollow" data-method="post" class="btn"><i class="large material-icons">thumb_up</i></a></p>
      <p class="center flow-text"><%= game.vote_total %></p>
      <p class="center"><a href="<%= game_downvote_path(game) %>" rel="nofollow" data-method="post" class="btn"><i class="large material-icons">thumb_down</i></a></p>
    </div>

    <div class="col m9">
      <a class="game-link" href="<%= category_game_path(@category, game) %>"><%= game.title %></a>
    </div>
  </div>
</div>
<% end %>
</div>
